# first column : github username or github user link
# second column: nickname [optional]
# belows are some examples, REMEBER TO DELETE THESE COMMENTS BEFORE YOU RUN!!!

abc batman
https://github.com/xyz
Interfish
https://github.com/somebody a_cool_nickname